@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400; 0,700;1,100;1,400;1,700&display=swap');
@plugin "daisyui";


* {
  font-family: 'Poppins', sans-serif;
  
}

body {
  background-color: white;
}



header {
  @apply bg-gradient-to-l from-[#f7797d] via-[#fbd786] to-[#c6ffdd];
}

@theme {
  --color-color-text: #231942;
}